{{input type="text" value=name placeholder="Name"}}<br>
{{input type="text" value=email placeholder="Email"}}<br>
{{input type="password" value=password placeholder="Password"}}<br>
<button {{action "signin" "google"}}> Sign in </button>